// color
// color cube

$mySugarCane: rgb(254, 255, 254);
$myButterflyBush: rgb(85, 78, 158);
$myMineShaft: rgb(38, 38, 38);
$myBlazeOrange: rgb(254, 102, 1);
$myCameo: rgb(215, 172, 149);
$myCrimson: rgb(215, 25, 56);
$mySushi: rgb(132, 180, 67);
$myLimeade: rgb(54, 173, 2);
$mySchoolbusYellow: rgb(252, 217, 2);
$myCuriousBlue: rgb(27, 175, 228);


// median cut

$myBonJour: rgb(232, 230, 231);
$myEastBay: rgb(68, 66, 117);
$myMojo: rgb(195, 73, 55);
$myTwine: rgb(194, 148, 88);
$myVidaLoca: rgb(71, 190, 39);


// Material design

$myVictoriaVibrant: rgb(76, 74, 155);
$myEunryMuted: rgb(205, 159, 144);
$myLimaDarkVibrant: rgb(71, 189, 35);
$myTuataraDarkMuted: rgb(36, 36, 35);
$myCashmereLightVibrant: rgb(226, 190, 165);